<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :weibo %><br>
    <%= f.text_field :weibo %>
  </div>
  <div class="field">
    <%= f.label :taobao %><br>
    <%= f.text_field :taobao %>
  </div>
  <div class="field">
    <%= f.label :vip %><br>
    <%= f.check_box :vip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
