<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @order.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @order.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Purchasepri:</strong>
  <%= @order.purchasepri %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @order.deposit %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @order.comments %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
